<ion-view view-title="About Developer" class="bg-color">
  <ion-content>
    <div class="card padding">
      <div class="item item-image">
        <img src="./img/mypic.jpg" class="mypic">
      </div>
       </div>
    <div class="card">
      <h3 class="gfont padding">Ghayyas Mubashir</h3>
    </div>
    <div class="card">
      <p class="padding pfont">
        Ghayyas Mubashir is Young Energatic Mobile and Web Application Developer.
        He is Studing Software Engineering From Virtual Universtiy
        and Also  Mobile and Web Application Development
        Under the Supervison of Sir Zia Khan(Microsoft Most Valuable Professional(MMVP))
        At Saylani Welfare International. (Karachi,Pakistan)
      </p>
    </div>
  </ion-content>
</ion-view>