
    <ion-view view-title="Login" class="login">

  
  <ion-content has-header="true" class="has-subheader" padding="true">
<div></div>
    <h3 class="res-head">Resturant Management System </h3>
            <!--<div class="item item-image">
            <img src="img/view.jpg" alt="Resturant">
            </div>-->
     
     <center>
         
      <img src="img/fblogin.png" alt="facebook login" class="facebook-sign-in fbtn" ng-click="doLogin()">
      <img src="img/button-twitter.png" alt="twitter login" class="facebook-sign-in tbtn" ng-click="doLogin()">      
    </center>
  </ion-content>
  <div class="bar bar-footer bar-dark">
  <button class="button button-clear"><i class="ion-social-facebook-outline ion-class"></i>
</button>
  <div class="title"><i class="ion-social-twitter-outline ion-class"></i></div>
  <button class="button button-clear"><i class="ion-social-googleplus-outline ion-class"></i></button>
</div>
</ion-view>

