<ion-view view-title="Order Form">
  <ion-content>
      <div class="card">
 <div class="item item-text-wrap">          

    <form action="">
    
  <div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Enter your Name</span>
    <input type="text" placeholder="First Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Last Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Email">
  </label>
    <label class="item item-input item-floating-label">
    <span class="input-label">Enter Your Address: </span>
    <input type="text" placeholder="Enter Your Address:">
  </label>
      <label class="item item-input item-floating-label">
    <span class="input-label">Enter Your Phone Number: </span>
    <input type="number" placeholder="Enter Your Fone Number:">
  </label>
  
 <label class="item item-input item-floating-label">
    <span class="input-label">Enter Order Name: </span>
    <input type="text" placeholder="Enter your Order Name">
  </label>
   <label class="item item-input item-floating-label">
    <span class="input-label">Enter Order quantity: </span>
    <input type="number" placeholder="Enter Order quantity">
  </label>
</div>
<input type="submit" value="Submit" class="button button-block button-positive">
</form>

      </div>
      </div>

  </ion-content>
</ion-view>