<ion-view view-title="Profile" class="bg-color">
  <ion-content>
    
    
    <h1>{{profile.facebook.displayName}}</h1>

   <div class="card">
     <div class="item item-text-wrap">
      
      
    <h3 class="profile-padding">Name : {{profile.facebook.displayName}} </h3>  
     <img ng-src="{{profile.facebook.profileImageURL}}" alt="Not Image" style="padding: 26px;float: right;margin-top: -46px;" padding>
     <h3 class="profile-padding">Age: {{profile.facebook.cachedUserProfile.age_range.min}}</h3>
     <h3 class="profile-padding">Gender: {{profile.facebook.cachedUserProfile.gender}}</h3>
    
    
</div>
</div>
    
  </ion-content>
</ion-view>